# –ù–∞–∏–≤–Ω—ã–π –ë–∞–π–µ—Å

### –ü—Ä–∏–º–µ—Ä 1. (–°–ø–∞–º –≤ –°–ú–°)

–ù–∞–ø—Ä–∏–º–µ—Ä, —Å–æ–±—ã—Ç–∏–µ –ê –∑–∞–∫–ª—é—á–∞–µ—Ç—Å—è –≤ —Ç–æ–º, —á—Ç–æ —Å–æ–æ–±—â–µ–Ω–∏–µ —Å–æ–¥–µ—Ä–∂–∏—Ç "–ø–æ–¥–æ–∑—Ä–∏—Ç–µ–ª—å–Ω–æ–µ —Å–ª–æ–≤–æ" (—Ä–æ–∑—ã–≥—Ä—ã—à, –ø–æ–∑–¥—Ä–∞–≤–ª—è–µ–º, 1000000$, –∏—Ç–¥).
–ö–∞–∫ –∂–µ —Å–¥–µ–ª–∞—Ç—å —Ç–∞–∫, —á—Ç–æ–±—ã —Ç–µ–ª–µ—Ñ–æ–Ω —Å–∞–º –ø–æ–Ω–∏–º–∞–ª: —ç—Ç–æ —Å–æ–æ–±—â–µ–Ω–∏–µ —Å–ø–∞–º –∏ –µ–≥–æ –≤–æ–æ–±—â–µ –º–æ–∂–Ω–æ –±—ã–ª–æ –Ω–∞–º –¥–∞–∂–µ –Ω–µ –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å –∏–ª–∏ –∂–µ –º—ã –ø—Ä–∞–≤–¥–∞ —á—Ç–æ —Ç–æ –≤—ã–∏–≥—Ä–∞–ª–∏üôÉ

–ü—Ä–∏–º–µ–º, —á—Ç–æ –≤—Å—ë –ø—Ä–æ—Å—Ç—Ä–∞–Ω—Å—Ç–≤–æ —Å–æ–±—ã—Ç–∏–π(—ç–ª–µ–º–µ–Ω—Ç–∞—Ä–Ω—ã–º –∏—Å—Ö–æ–¥–æ–º —è–≤–ª–µ—Ç—Å—è –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ–µ –°–ú–°) —Ä–∞–∑–¥–µ–ª–µ–Ω–æ –Ω–∞ –¥–≤–∞ –∫–ª–∞—Å—Ç–µ—Ä–∞: 
$$B_1 - \text{—Å–ø–∞–º},\ \ \  B_2 - \text{–Ω–µ —Å–ø–∞–º}$$

–¢–æ–≥–¥–∞, –±–ª–∞–≥–æ–¥–∞—Ä—è —Ç–µ–æ—Ä–µ–º–µ –ë–∞–π–µ—Å—Å–∞ –º—ã –∏–º–µ–µ–º –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å —Å—Ä–∞–≤–Ω–∏—Ç—å –∫–∞–∫–æ–µ –∏–∑ —Å–æ–±—ã—Ç–∏–π:

$$ (A|B_1) - \text{—Å–æ–æ–±—â–µ–Ω–∏–µ —Å–æ–¥–µ—Ä–∂–∏—Ç "–Ω–µ—Ö–æ—Ä–æ—à–µ–µ" —Å–ª–æ–≤–æ –∏ –ø—Ä–∏ —ç—Ç–æ–º —Å–ø–∞–º}$$
$$ (A|B_2) - \text{—Å–æ–æ–±—â–µ–Ω–∏–µ —Å–æ–¥–µ—Ä–∂–∏—Ç "–Ω–µ—Ö–æ—Ä–æ—à–µ–µ" —Å–ª–æ–≤–æ –∏ –ø—Ä–∏ —ç—Ç–æ–º –ù–ï —Å–ø–∞–º}$$

–•–æ—Ç—è –ø–æ–Ω—è—Ç–Ω–æ, —á—Ç–æ —á–∏—Å—Ç–æ –ª–æ–≥–∏—á–µ—Å–∫–∏ —ç—Ç–∏ —Å–æ–±—ã—Ç–∏—è –Ω–µ –∏–º–µ—é—Ç —Å–º—ã—Å–ª–∞, —Ç–∞–∫ –∫–∞–∫ B –æ—á–µ–≤–∏–≤–æ–¥–Ω–æ –ø—Ä–æ–∏–∑–æ—à–ª–æ —Ä–∞–Ω—å—à–µ —Å–æ–±—ã—Ç–∏—è A.

–†–µ–∞–ª–∏–∑–∞—Ü–∏—è –¥–µ—Ç–µ–∫—Ç–æ—Ä–∞ —Å–ø–∞–º–∞: https://rukovodstvo.net/posts/id_1258/

# –°—Ä–µ–¥—Å—Ç–≤–∞–º–∏ Python

In [1]:
!pip install wget

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9674 sha256=e75b32db913e3f2813dd80b05608834ee63c23e4c9cfc34e9cad9f566c2a33ca
  Stored in directory: /root/.cache/pip/wheels/bd/a8/c3/3cf2c14a1837a4e04bd98631724e81f33f462d86a1d895fae0
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [2]:
import pandas as pd 
import os # work with filesystem
import re 
import math
import numpy as np
import wget        # library for URL-downloads
import nltk
import csv

import numpy as np
import pandas as pd

In [3]:
data_status = os.path.exists('./SMSSpamCollection')

if data_status == False:
    url = 'https://drive.google.com/uc?export=view&id=1doec_2oDEsHKJRpaLlSiU4ZW1ICUVoRz'
    wget.download(url, 'SMSSpamCollection')

In [4]:
df = pd.read_table('SMSSpamCollection', sep='\t', header=None, names=['label', 'message'])

In [5]:
# –Ω–µ–º–Ω–æ–≥–æ –æ–±—Ä–∞–±–æ—Ç–∫–∏

#df['label'] = df.label.map({'ham': 0, 'spam': 1}) 
df['message'] = df.message.map(lambda x: x.lower())
df['message'] = df.message.str.replace('[^\\w\\s]', '')

<ipython-input-5-4abc327003cc>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['message'] = df.message.str.replace('[^\\w\\s]', '')

In [6]:
#–ü–∞—Ä—Å–∏–Ω–≥ –Ω–∞ —Å–ª–æ–≤–∞
#from nltk.tokenize import word_tokenize
#df['message'] = df['message'].apply(word_tokenize)

In [7]:
#–û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –æ–¥–Ω–æ–∫–æ—Ä–µ–Ω–Ω—ã—Ö —Å–ª–æ–≤

#from nltk.stem import PorterStemmer 
#stemmer = PorterStemmer() 
#df['message'] = df['message'].apply(lambda x: [stemmer.stem(y) for y in x])

In [8]:
df

     label                                            message
0      ham  go until jurong point crazy available only in ...
1      ham                            ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham        u dun say so early hor u c already then say
4      ham  nah i dont think he goes to usf he lives aroun...
...    ...                                                ...
5567  spam  this is the 2nd time we have tried 2 contact u...
5568   ham                will √º b going to esplanade fr home
5569   ham  pity  was in mood for that soany other suggest...
5570   ham  the guy did some bitching but i acted like id ...
5571   ham                          rofl its true to its name

[5572 rows x 2 columns]

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
counts = count_vect.fit_transform(df['message'])

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(counts, df['label'], test_size=0.3, random_state=42)

In [11]:
from sklearn.naive_bayes import MultinomialNB 
model = MultinomialNB().fit(X_train, y_train)

In [12]:
predicted = model.predict(X_test) 
print(np.mean(predicted == y_test))

0.9808612440191388

# –†—É–∫–∞–º–∏

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df['message'], df['label'], test_size=0.3, random_state=42)

In [14]:
df_train = pd.concat([X_train.to_frame(), y_train.to_frame()], axis=1)
df_train

                                                message label
708         quite late lar ard 12 anyway i wun b drivin   ham
4338                      on a tuesday night r u 4 real   ham
5029  go chase after her and run her over while shes...   ham
4921     g says you never answer your texts confirmdeny   ham
2592          still work going onit is very small house   ham
...                                                 ...   ...
3772  hi wlcome back did wonder if you got eaten by ...   ham
5191                               sorry ill call later   ham
5226              prabhaim sorydarealyfrm heart im sory   ham
5390                         nt joking seriously i told   ham
860             did he just say somebody is named tampa   ham

[3900 rows x 2 columns]

In [15]:
df_test = pd.concat([X_test.to_frame(), y_test.to_frame()], axis=1)
df_test

                                                message label
3245  squeeeeeze this is christmas hug if u lik my f...   ham
944   and also ive sorta blown him off a couple time...   ham
1044  mmm thats better now i got a roast down me id ...   ham
2484      mm have some kanji dont eat anything heavy ok   ham
812   so theres a ring that comes with the guys cost...   ham
...                                                 ...   ...
2505  hello my boytoy i made it home and my constant...   ham
2525  free entry into our 250 weekly comp just send ...  spam
4975  aiyo u so poor thing then u dun wan 2 eat u ba...   ham
650   you have won 1000 cash or a 2000 prize to clai...  spam
4463  sorry i flaked last night shits seriously goin...   ham

[1672 rows x 2 columns]

In [16]:
pd.DataFrame(df_train[df_train['label'] == 'spam']['message'].values.flatten()).value_counts()

loan for any purpose 500  75000 homeowners  tenants welcome have you been previously refused we can still help call free 0800 1956669 or text back help        3
free for 1st week no1 nokia tone 4 ur mob every week just txt nokia to 8007 get txting and tell ur mates wwwgetzedcouk pobox 36504 w45wq norm150ptone 16       3
bored housewives chat n date now 08717507711 btnational rate 10pmin only from landlines                                                                        2
for ur chance to win a 250 cash every wk txt action to 80608 tscs wwwmovietriviatv custcare 08712405022 1x150pwk                                               2
you are chosen to receive a 350 award pls call claim number 09066364311 to collect your award which you are selected to receive as a valued mobile customer    2
                                                                                                                                                              ..
good luck draw takes place 28th feb 06 good luck for removal send stop to 87239 customer services 08708034412                                                  1
goldviking 29m is inviting you to be his friend reply yes762 or no762 see him wwwsmsacugoldviking stop send stop frnd to 62468                                 1
goal arsenal 4 henry 7 v liverpool 2 henry scores with a simple shot from 6 yards from a pass by bergkamp to give arsenal a 2 goal margin after 78 mins        1
get ur 1st ringtone free now reply to this msg with tone gr8 top 20 tones to your phone every week just 150 per wk 2 opt out send stop 08452810071 16          1
youve won tkts to the euro2004 cup final or 800 cash to collect call 09058099801 b4190604 pobox 7876150ppm                                                     1
Length: 474, dtype: int64

In [17]:
inapropriate_words_dict = {'sex' : 0, 'sexy' : 0, 'win' : 0, 'free' : 0, 'gift' : 0, 'porn' : 0, 'chosen' : 0, 'chance' : 0}
inapropriate_words_list = inapropriate_words_dict.keys()

In [18]:
for word in inapropriate_words_list:
  df_train[word] = df_train['message'].str.contains(word)
df_train

,message,label,sex,sexy,win,free,gift,porn,chosen,chance
708,quite late lar ard 12 anyway i wun b drivin,ham,False,False,False,False,False,False,False,False
4338,on a tuesday night r u 4 real,ham,False,False,False,False,False,False,False,False
5029,go chase after her and run her over while shes...,ham,False,False,False,False,False,False,False,False
4921,g says you never answer your texts confirmdeny,ham,False,False,False,False,False,False,False,False
2592,still work going onit is very small house,ham,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
3772,hi wlcome back did wonder if you got eaten by ...,ham,False,False,False,False,False,False,False,False
5191,sorry ill call later,ham,False,False,False,False,False,False,False,False
5226,prabhaim sorydarealyfrm heart im sory,ham,False,False,False,False,False,False,False,False
5390,nt joking seriously i told,ham,False,False,False,False,False,False,False,False
860,did he just say somebody is named tampa,ham,False,False,False,False,False,False,False,False

In [19]:
df_spam_train = df_train[df_train['label'] == 'spam']
df_spam_train

,message,label,sex,sexy,win,free,gift,porn,chosen,chance
1780,loan for any purpose 500 75000 homeowners te...,spam,False,False,False,True,False,False,False,False
4104,u have a secret admirer who is looking 2 make ...,spam,False,False,False,False,False,False,False,False
4012,please call our customer service representativ...,spam,False,False,False,True,False,False,False,False
1765,hi 07734396839 ibh customer loyalty offer the ...,spam,False,False,False,False,False,False,False,False
789,5 free top polyphonic tones call 087018728737 ...,spam,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
3005,youve won tkts to the euro2004 cup final or 80...,spam,False,False,False,False,False,False,False,False
2558,this message is brought to you by gmw ltd and ...,spam,False,False,False,False,False,False,False,False
474,want 2 get laid tonight want real dogging loca...,spam,False,False,False,False,False,False,False,False
3385,free msgwe billed your mobile number by mistak...,spam,False,False,False,True,False,False,False,False
3092,lord of the ringsreturn of the king in store n...,spam,False,False,True,False,False,False,False,True

–†–∞—Å—á–µ—Ç —É—Å–ª–æ–≤–Ω–æ–π –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏ —Ç–æ–≥–æ, —á—Ç–æ —Å—Ä–µ–¥–∏ —Å–æ–æ–±—â–µ–Ω–∏–π —Å –Ω–µ–ø—Ä–∏–µ–º–ª–µ–º—ã–º —Å–ª–æ–≤–æ–º –±—É–¥–µ—Ç —Å–æ–æ–±—â–µ–Ω–∏–µ —Å–æ —Å–ø–∞–º–æ–º.

In [20]:
for word in df_train.columns[2:]:
  inapropriate_words_dict[word] = len(df_spam_train[df_spam_train[word] == True]) / len(df_train[df_train[word] == True])

In [21]:
inapropriate_words_dict

{'sex': 0.6785714285714286,
 'sexy': 0.5,
 'win': 0.6166666666666667,
 'free': 0.7538461538461538,
 'gift': 0.7272727272727273,
 'porn': 0.5,
 'chosen': 1.0,
 'chance': 0.71875}

In [22]:
for word in inapropriate_words_list:
  df_test[word] = df_test['message'].str.contains(word)
df_test

,message,label,sex,sexy,win,free,gift,porn,chosen,chance
3245,squeeeeeze this is christmas hug if u lik my f...,ham,False,False,False,False,False,False,False,False
944,and also ive sorta blown him off a couple time...,ham,False,False,False,False,False,False,False,False
1044,mmm thats better now i got a roast down me id ...,ham,False,False,False,False,False,False,False,False
2484,mm have some kanji dont eat anything heavy ok,ham,False,False,False,False,False,False,False,False
812,so theres a ring that comes with the guys cost...,ham,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...
2505,hello my boytoy i made it home and my constant...,ham,False,False,False,False,False,False,False,False
2525,free entry into our 250 weekly comp just send ...,spam,False,False,True,True,False,False,False,False
4975,aiyo u so poor thing then u dun wan 2 eat u ba...,ham,False,False,False,False,False,False,False,False
650,you have won 1000 cash or a 2000 prize to clai...,spam,False,False,False,False,False,False,False,False
4463,sorry i flaked last night shits seriously goin...,ham,False,False,False,False,False,False,False,False

In [23]:
df_test['prediction'] = False

In [24]:
for word in inapropriate_words_list: 
  df_test['prediction'] |= np.where((df_test[word] == True) & (inapropriate_words_dict[word] > 0.5), True, False)

df_test['prediction'] = df_test['prediction'].replace({True: 'spam', False: 'ham'})
df_test

,message,label,sex,sexy,win,free,gift,porn,chosen,chance,prediction
3245,squeeeeeze this is christmas hug if u lik my f...,ham,False,False,False,False,False,False,False,False,ham
944,and also ive sorta blown him off a couple time...,ham,False,False,False,False,False,False,False,False,ham
1044,mmm thats better now i got a roast down me id ...,ham,False,False,False,False,False,False,False,False,ham
2484,mm have some kanji dont eat anything heavy ok,ham,False,False,False,False,False,False,False,False,ham
812,so theres a ring that comes with the guys cost...,ham,False,False,False,False,True,False,False,False,spam
...,...,...,...,...,...,...,...,...,...,...,...
2505,hello my boytoy i made it home and my constant...,ham,False,False,False,False,False,False,False,False,ham
2525,free entry into our 250 weekly comp just send ...,spam,False,False,True,True,False,False,False,False,spam
4975,aiyo u so poor thing then u dun wan 2 eat u ba...,ham,False,False,False,False,False,False,False,False,ham
650,you have won 1000 cash or a 2000 prize to clai...,spam,False,False,False,False,False,False,False,False,ham
4463,sorry i flaked last night shits seriously goin...,ham,False,False,False,False,False,False,False,False,ham